.icon{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    text-align: center;
    padding: 5px;
    cursor: pointer;
}
.bg-1{
    background-color: #008000;

}
.bg-2{
background-color: #CE2029;
}
.bg-1:hover{
    background-color: #00FF7F;

}
.bg-2:hover{
    background-color: #FF69B4;

}
.add-item {
    width: 247px;
    height: 42px;
    border-radius: 16px;
    background: #3A3F47;
    color: #FFF;
    padding-left: 24px;
    border: none;
    margin-right: 12px;
}
.add-btn{
    position: absolute;
    width: 56px;
    height: 42px;
    background: darkred;
    border: none;
    border-radius: 12px;
    padding: 12px;
    color: #FFF;
    
    }